$accent-color-pink: #fd7b87;
$accent-color-blue: #5fb3f9;
$accent-color-orange: #fda660;

$text-color-dark: #232535;
$text-color-grey: #8d8d8d;

$light-blue-color: #edf0f7;

$sidebar-bg: #20222e;
$footer-bg: #2c2e40;
$page-bg: rgb(32, 33, 47);

$light-box-max-width: 490px;
$tablet-max-width: 1023px;
$mobile-max-width: 767px;
$phone-max-width: 374px;

$header-height: 58px;

