<div class="app-widget__wrapper">
  <h1 class="app-widget__title">{{ title }}</h1>
  <div class="app-widget__container">
    <div class="app-widget__main-card">
      <app-main-card *ngIf="cities" [city]="cities[0]" (selectedHotel)="updateHotel($event)"></app-main-card>
    </div>
    <div class="app-widget__info-cards">
      <div class="app-widget__weather-card">
        <app-weather-card [hotel]="selectedHotel"></app-weather-card>
      </div>
      <div class="app-widget__hotel-card">
        <app-hotel-card></app-hotel-card>
      </div>
    </div>
  </div>
</div>

